<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side">
    <p align="center">Filter Results</p>

    <div align="center">
      <div>
        <mat-form-field>
          <mat-select placeholder="Batch">
            <mat-option *ngFor="let batch of batches" [value]="batch.value">
              {{ batch.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-select placeholder="City">
            <mat-option *ngFor="let city of cities" [value]="city.value">
              {{ city.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-select placeholder="Building">
            <mat-option *ngFor="let building of buildings" [value]="building.value">
              {{ building.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div>
      <p align="center"> Gender </p>
      <ul style="list-style-type:none">
        <li>
          <mat-checkbox>Male</mat-checkbox>
        </li>
        <li>
          <mat-checkbox>Female</mat-checkbox>
        </li>
        <li>
          <mat-checkbox>Other</mat-checkbox>
        </li>
      </ul>
    </div>
    <div>
      <p align="center"> Occupancy</p>
      <ul style="list-style-type:none">
        <li>
          <mat-checkbox>Vacant Rooms Only</mat-checkbox>
        </li>
        <li>
          <mat-checkbox>Sort By Most Vacanies</mat-checkbox>
        </li>
        <li>
          <mat-checkbox>Unhoused Users Only</mat-checkbox>
        </li>
      </ul>
    </div>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="example-sidenav-content">
      <button type="button my-mini-fab" mat-mini-fab (click)="sidenav.toggle()">
          <i class="material-icons">menu</i>
      </button>
    </div>
    <app-content-wrapper></app-content-wrapper>
  </mat-sidenav-content>
</mat-sidenav-container>
